/* #region Common */
:root
{
  /* Color Schema inside root element */
  --ds-page-bg: white;

  --ds-lighter: white;
  --ds-primary: #3161e0;
  --ds-footer-bg: #23272a;
  --ds-text-color-primary: white;
  --ds-text-color-secondary: #525558;

}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--ds-text-color-primary);
}

ul
{
  list-style: none;
}

img
{
    max-width: 100%;
    max-height: 100%;
}
/* #endregion Common */

/* #region Utility*/
.container
{
    width: 80%;
    margin: 0 auto;
}

.btn-radius
{
    background-color: transparent;
    border-radius: 2rem;
    border: none;
}

.btn-small{
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.btn-large
{
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
}



.btn-text
{
    vertical-align: middle;
}

.flex-order1
{
    order: 1;
}

.btn-icon{
    margin:0.25rem;
}

/* #endregion Utility*/

/* #region header*/
header
{
    width: 100%;
    background-color: var(--ds-primary);
}

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.navbar ul
{
    display:flex;
}

.navbar ul li
{
    margin: 0 1rem;
}

.button-nav
{
    background-color: var(--ds-lighter);
    color: var(--ds-text-color-secondary);
}
/* #endregion header*/

/* #region hero */

.hero-img{
    width: 100%;
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.hero-text{
    text-align: center;
    width: 50%;
}

.hero-text h1{
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

.hero-text p{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

.btn-hero-secondary
{
    background-color: var(--ds-lighter);
}
.btn-hero-primary
{
    background-color: var(--ds-text-color-secondary);
    color: var(--ds-text-color-primary);
}
/* #endregion hero */

/* #region card*/
.card{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 2rem;
}
.card-img{
    width: 60%;
}
.card-text
{
    color: var(--ds-text-color-secondary);
    width: 40%;
    padding-top: 2rem;

}
.card-text h2{
    line-height: 2rem;
    font-size: 2rem;
}
.card-text p{
    margin-top: 1rem;
    line-height: 1.5rem;
    font-size: 1.25rem;
}

.background-wave{

    /* background-image: url(../img/wave.svg);
    fill: #fce57e; */
}
.card-vertical{
    margin-top: 4rem;
    text-align: center;
}

.card-vertical-header h1, 
.card-vertical-header p,
.card-vertical-footer h2
{
    color: var(--ds-text-color-secondary);
    text-align: center;

}

.card-vertical-header h1,
.card-vertical-footer h2
{
    line-height: 2rem;
    font-size:2rem;
}

.card-vertical-header p{
    margin-top: 1rem;
    line-height: 1.5rem;
    font-size: 1.25rem;
}

.btn-card-vertical-footer{
    background-color: var(--ds-primary);
    color: var(--ds-text-color-primary);
}

.card-vertical-footer button{
    margin-top: 1rem;
}

/* #endregion card*/

/* #region footer*/
footer{
    margin-top: 2rem;
    width:100%;
    height: 500px;
    background-color: var(--ds-footer-bg);
}
/* #endregion footer*/